<html>
  {% include 'widgets/header.html' with context %}
  <body>
    <!--[if lt IE 9]>
    {% include 'widgets/browser_upgrade.html' without context %}
    <![endif]-->

    {% include 'widgets/nav.html' with context %}

    {# content 块，有默认内容 #}
    {% block content %}
    <article class="container article">
      <div class="row">
        <div class="content">
          <div class="col-md-12">
            <div class="col-md-12 page-content">
              <h3>{{ page.title }}</h3>
              <br>
              {% block article %}
              {% endblock %}
              {{ article.content }}
            </div>
            <div class="col-md-12 comment">
              {% include 'widgets/comments.html' %}
            </div>
          </div>
        </div>
      </div>
    </article>
    {% endblock content %}

    {# 尾部信息 #}
    {% include 'widgets/footer.html' with context%}
  </body>

</html>
