$def with(page_name, page_title)

$:render.widgets.header(page_name, page_title)


<div class="content">
	<div class="item item-image">
		<img src="../images/ctts_header.jpg">
		</div>
	<div class="list card">
		<div class="item item-avatar">
			<img src="../images/shitang.jpg">
			<p class="t_title">
				餐厅特色<br />
			</p>
		</div>

		<div class="item item-body f_brak">
			<div class="item item-image">
	    		<img src="../images/ctts/xsct.jpg">
	  		</div>
			<p>									
				<strong>学士餐厅</strong><br> 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				位于学士楼一楼，建成于1998年，餐厅窗环境简洁，设备完善，可容纳800人同时就餐。学士楼以方便快捷的各种套餐为主要经营特色，以经济实惠、口味丰富赢得学生喜爱。
			</p>
			<p>
				<strong>百味佳餐厅</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				位于学士楼二楼，建于1996年，于1997年6月投入使用，楼层面积2300平方米，餐厅面积1150平方米，是哈工大最大的自选餐厅，日常提供各种主副食200余种，餐厅布局合理，环境幽雅，明亮、桌椅美观舒适，备有闭路电视，可同时容纳1300余人进餐,为黑龙江省高等院校标准的餐厅之一。
			</p>
			<!--<div class="item item-image">
	    		<img src="../images/ctts/ctts_bwjct.jpg">
	  		</div>-->
	  		<div class="item item-image">
	    		<img src="../images/ctts/ylct.jpg">
	  		</div>
	  		<p>
				<strong>友来餐厅</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				餐厅是全天营业性餐厅，可容纳约450多人同时就餐。它以其快捷、方便、实惠、卫生、可口享誉校园。大碴粥、馅饼、烧饼等传统主食为友来赢来四方美誉，这里更是哈工大四大名人之一的“馅饼西施”的诞生地。

			</p>
			<div class="item item-image">
	    		<img src="../images/ctts/hwzct.jpg">
	  		</div>
	  		<p>
				<strong>回味斋餐厅</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				位于学士楼，毗邻学子超市，是专门接待穆斯林师生及伊斯兰教国家的留学生餐厅。餐厅环境优雅、宽敞明亮，配有闭路电视、空调。为保证及方便用餐学生清洗餐具、消毒，并配有热水器和消毒柜，给师生们带来极大的便利。

			</p>
			<div class="item item-image">
	    		<img src="../images/ctts/xzct.jpg">
	  		</div>
	  		<p>
				<strong>学子真味饺子园</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				位于学子楼一层，紧临学苑楼、图书馆，营业时间10：00至20：00。餐厅拥有专业的饺子加工团队，秉承着“真心、真味、真情”的宗旨服务校内外来客。主营水饺、蒸饺、切面、凉菜等品项，以三鲜馅、玉米猪肉馅水饺、驴肉馅蒸饺、金牌炸酱面、葱油拌面为主打产品，深受广大师生顾客认可。
			</p>
	  		<p>
				<strong>学子餐厅</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				位于学子楼二层，餐厅经过了数次改造和装修。备有大众熘炒、点菜、各种主食等70品种。
			</p>
			<!--<div class="item item-image">
	    		<img src="../images/ctts/ctts_jzyct.jpg">
	  		</div>-->
	  		<div class="item item-image">
	    		<img src="../images/ctts/xyct.jpg">
	  		</div>
	  		<p>
				<strong>学苑餐厅</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				学苑餐厅建成于2002年初，餐厅无论从硬件设备，还是管理、服务、经营、队伍建设都是哈工大饮食中心多年经验的积累体现。餐厅引进日本现代化米饭生产线，采用不锈钢弧型玻璃售饭台。餐厅可容纳1100人同时就餐。
			</p>
			
	  		<p>
				<strong>美食林餐厅</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				餐厅的投入使用，改进了食堂多年来单一的饮食结构。形成了口味多样、特色突出、层次鲜明的校园饮食新格局。餐厅以地方风味小吃为主，极大的丰富了校园餐饮文化，得到了校内师生的一直好评。参厅设有餐桌240套，可容纳990人同时就餐。
			</p>
			<!--<div class="item item-image">
	    		<img src="../images/ctts/ctts_mslct.jpg">
	  		</div>-->
	  		<p>
				<strong>阳光餐厅</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				阳光餐厅位于我校区学苑楼内三层，是我中心最有特色的餐厅。餐厅以多功能餐饮服务为主，是学校大型活动的主要举办场所。设备齐全，环境幽雅，并备有小型宴会厅，可承接各种会议、婚宴、发布会、文娱演出等。可容纳1100人同时就餐。
			</p>
			<!--<div class="item item-image">
	    		<img src="../images/ctts/ctts_ygct.jpg">
	  		</div>-->
	  		<div class="item item-image">
	    		<img src="../images/ctts/dxct.png">
	  		</div>
	  		<p>
				<strong>丁香餐厅</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				丁香餐厅位于我校区土木楼内，参厅设有餐桌163套，同时容纳652人就餐。餐厅建成以来，经过多次修缮，现餐厅环境优雅、宽敞明亮，配有闭路电视、空调。
			</p>
			<!--<div class="item item-image">
	    		<img src="../images/ctts/ctts_dxct.jpg">
	  		</div>-->
	  		<div class="item item-image">
	    		<img src="../images/ctts/nyct.png">
	  		</div>
	  		<p>
				<strong>南苑餐厅</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				坐落在风景秀丽、绿树成荫的哈工大科学园校园南部，毗邻学校的科研、教学楼，主要为在校学生及老师提供餐饮服务，建成于2006年，于当年9月12日开始试营业。餐厅内共设三层，使用面积5000多平方米，环境简洁，设备完善，可容纳700人同时就餐。
			</p>
			<!--<div class="item item-image">
	    		<img src="../images/ctts/ctts_nyct.jpg">
	  		</div>-->
	  		<div class="item item-image">
	    		<img src="../images/ctts/qzct.jpg">
	  		</div>
	  		<p>
				<strong>清泽餐厅</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				位于哈工大二校区西门处，总面积为1529平方米，餐厅面积为739平方米，可同时容纳773人就餐。餐厅分为：大众熘炒和特色炒菜两部分。“大众熘炒”位于清泽餐厅一楼，主要经营炒菜、炝拌菜、炸酱面、打卤面、各种炒饭及特色炒面等。“特色炒菜”位于清泽餐厅二楼，主要经营各类炒菜、麻辣烫、农家拌饭、酸辣米线及各类可口点心等。
			</p>
			<div class="item item-image">
	    		<img src="../images/ctts/qzzwct.jpg">
	  		</div>
	  		<p>
				<strong>清泽真味饺子园</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				位于工大二校区西门处、清泽餐厅西侧，成立于2009年，原是清泽方便食堂。改建后，真味饺子园以全然一新的面貌，古色古香的装饰，主要经营水饺、蒸饺、面条、凉菜等品项，以三鲜馅水饺为主打产品深受广大进餐者欢迎。饺子园可同时容纳112人进餐。
			</p>
			<!--<div class="item item-image">
	    		<img src="../images/ctts/ctts_qzjzyct.jpg">
	  		</div>-->
	  		<div class="item item-image">
	    		<img src="../images/ctts/jxct.jpg">
	  		</div>
	  		<p>
				<strong>锦绣餐厅</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				位于五公寓旁，建于1992年，1993年9月使用。餐厅面积2310平方米，2000年改造维修至今。正门朝向四公寓。餐厅分为两层，可同时容纳800人进餐。一楼经营各种熘炒、主食，二楼开放式自选经营，引进全新自动售餐系统，菜品种类齐全，独具特色。
			</p>
			<!--<div class="item item-image">
	    		<img src="../images/ctts/ctts_jxct.jpg">
	  		</div>-->
	  		<div class="item item-image">
	    		<img src="../images/ctts/qzct_1.jpg">
	  		</div>
	  		<p>
				<strong>清真食堂</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				位于锦绣餐厅西侧，针对少数民族学生，专门加工制作各种回民类菜肴、主食。
			</p>
			<!--<div class="item item-image">
	    		<img src="../images/ctts/ctts_qzct.jpg">
	  		</div>-->
	  		<div class="item item-image">
	    		<img src="../images/ctts/txct.jpg">
	  		</div>
	  		<p>
				<strong>天香餐厅</strong><br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				天香餐厅建于2003年2月，同年8月25日使用，共两层，餐厅总使用面积3800平方米，可就餐位共1200个座位。天香餐厅宽敞，明亮。二楼引进地方特色小吃，满足不同家乡口味的需求，物美价廉，营养健康。
			</p>
			<!--<div class="item item-image">
	    		<img src="../images/ctts/ctts_txct.jpg">
	  		</div>-->
			<p></p>
		</div>
	</div>
</div>

$:render.widgets.footer()