$def with(page_name, page_title)

$:render.widgets.header(page_name, page_title)

<div class="content">
	<div class="col-md-12">
		<div class="col-md-12 page-content"> 
			<h3 class="">各餐厅负责人及联系方式</h3>
			<br>
			<strong id="first" class="h4">一校区</strong>
			<ul class="list-narrow">
				<li>学士楼
					<ul class="list-unstyled">
						<li>学士餐厅　  联系人：于风雷　联系电话：86413865</li>
						<li>百味佳餐厅  联系人：王永红　联系电话：86417309</li>
						<li>友来餐厅　  联系人：刘　健　联系电话：86414364</li>
						<li>回味斋餐厅  联系人：王黎明　联系电话：86413865</li>
					</ul>
				</li>
				<li>学子楼
					<ul class="list-unstyled">
						<li>真味饺子园  联系人：王振鹏　联系电话：86413988</li>
						<li>学子餐厅　  联系人：王丽红　联系电话：86413988</li>
					</ul>
				</li>
				<li>学苑楼
					<ul class="list-unstyled">
						<li>学苑餐厅　  联系人：魏忆宁　联系电话：86418702</li>
						<li>美食林餐厅  联系人：马真蛟　联系电话：86418703</li>
						<li>阳光餐厅　  联系人：米　蓉　联系电话：86414265</li>
					</ul>
				</li>
				<li>科学园
					<ul class="list-unstyled">
						<li>南苑餐厅　  联系人：张玉杰　联系电话：86402952</li>
					</ul>
				</li>
				<li>土木楼
					<ul class="list-unstyled">
						<li>丁香餐厅　  联系人：王　宁　联系电话：86281071</li>
					</ul>
				</li>
			</ul>

			<strong id="second" class="h4">二校区</strong>
			<ul class="list-narrow first">
				<li>清泽餐厅　   联系人：朱大亮　联系电话：86282806</li>
				<li>清泽饺子园   联系人：黄　娟　联系电话：86282806</li>
				<li>清真餐厅　   联系人：马　杰　联系电话：86282806</li>
				<li>锦绣餐厅　   联系人：姜守信　联系电话：86282048</li>
				<li>天香餐厅　   联系人：张振东　联系电话：86283689</li>
			</ul>

			<h3>联系我们</h3>
			<ul class="list-narrow first">
				<li>饮食中心邮箱 : yinshi@hit.edu.cn</li>
				<li>服务监督电话 : 86403090</li>
			</ul>
		</div>
	</div>
</div>

$:render.widgets.footer()
