{% extends 'pages/layout.html' %}

{% block section%}
<div class="content">
	<div class="col-md-8 col-md-offset-2">
		<h3 class="text-center text-primary header">意见反馈</h3>
		<form class="form-horizontal" role="form" action="feedback" method="post">
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">* 您的姓名</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="username" name="username" placeholder="Tony" autofocus required>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">您的邮箱</label>
				<div class="col-sm-10">
					<input type="eamil" class="form-control" id="email" name="email" placeholder="tony@domain.com">
				</div>
			</div>
			<div class="form-group">
				<label for="phone" class="col-sm-2 control-label">您的手机</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="phone" name="phone" placeholder="18000000000">
				</div>
			</div>
			<div class="form-group">
				<label for="feedback" class="col-sm-2 control-label">* 您的建议</label>
				<div class="col-sm-10">
					<textarea class="form-control" rows="5" id="feedback" name="feedback" placeholder="在这里写出您的意见或建议" required></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3">
					<button type="submit" id="feedback-btn" class="btn btn-lg btn-primary btn-block">提交</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock section%}

{% block content %}
{{ super() }}
<script>
$(function() {

    $('#feedback-btn').bind('click', submit_data);

    function submit_data() {
    	var username = $('#username').val();
    	var email    = $('#email').val();
    	var phone    = $('#phone').val();
    	var feedback = $('#feedback').val();
    	if(username == '') {
    		alert("请输入您的姓名");
    		return false;
    	}
    	if(feedback == '') {
    		alert("请输入您的反馈");
    		return false;
    	}
    	console.log(feedback);

        $.post('feedback?req=submit',
        	{"username" : username,
	  		 "email"    : email,
			 "phone"    : phone,
			 "feedback" : feedback},
            function(data) {
                if (data.successinfo) {
                    alert(data.successinfo);
                    location.reload();
                }
                if (data.errinfo) {
                    alert(data.errinfo);
                }

            }, "json");
        return false;

    }

});
</script>
{% endblock content %}
