$def with(page_name, page_title)

$:render.widgets.header(page_name, page_title)


<div class="row">
	<div class="bar bar-header bar-orange">
		<div class="h1 title t_head">常见问题</div>
	</div>
</div>
<div class="content has-header">
	<div class="list card">
		<div class="item item-avatar">
			<img src="../images/fanka.jpg">
			<p class="t_title">
				如何补办饭卡？ <br />
			</p>
		</div>

		<div class="item item-body">
			<p>
				1. 金穗校园卡补办事宜:</br>
			</p>
			<li class="t_list">补办地点：农业银行(哈工大一校区农业银行工大分理处) 电话：86402592</li>
			<li class="t_list">补卡证件：身份证原件</li>
			<li class="t_list">补卡费用：30元（10元手续费、20元工本费）</li>
			<p>
				2. 校园卡补办事宜:</br>
			</p>
			<li class="t_list">补办地点：饮食中心餐卡服务处</li>
			<ul class="t_list_ul">一校区：哈工大饮食中心餐卡服务处（学苑楼一楼）     电话：86402233</ul>
			<ul class="t_list_ul">二校区：哈工大饮食中心餐卡服务处（天香餐厅一楼）   电话：86283713</ul>
			<li class="t_list">补卡证件：身份证或学生证（原件、复印件）</li>
			<li class="t_list">补卡费用：15元工本费</li>
			<p class="t_list">详细服务咨询及监督电话：86414365</p>
		</div>
	</div>
	<div class="list card">
		<div class="item item-avatar">
			<img src="../images/alarm-clock.png">
			<p class="t_title">各餐厅开关餐时间</p>
		</div>

		<div class="item item-body">
			<p>
				1. 一校区:</br>
			</p>
			<div class="clearfix">
				<li class="t_list pull-left r_name">学苑餐厅 </li>
				<ul class="pull-left">
					<li class="t_list_ul">早 餐<span class="t_gap"></span>06：30-08：30</li>
					<li class="t_list_ul">中 餐<span class="t_gap"></span>10：45-12：20</li>
					<li class="t_list_ul">晚 餐<span class="t_gap"></span>16：30-18：10</li>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">美食林餐厅 </li>
				<ul class="pull-left">
					<li class="t_list_ul">全 天<span class="t_gap"></span>10：30-19：30</li>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">阳光餐厅 </li>
				<ul class="pull-left">
					<li class="t_list_ul">中 餐<span class="t_gap"></span>10：00-12：50</li>
					<li class="t_list_ul">晚 餐<span class="t_gap"></span>16：30-18：10</li>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">学士餐厅 </li>
				<ul class="pull-left">
					<li class="t_list_ul">早 餐<span class="t_gap"></span>06：30-08：30</li>
					<li class="t_list_ul">中 餐<span class="t_gap"></span>10：45-12：20</li>
					<li class="t_list_ul">晚 餐<span class="t_gap"></span>16：30-18：10</li>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">百味佳餐厅 </li>
				<ul class="pull-left">
					<li class="t_list_ul">早 餐<span class="t_gap"></span>06：30-08：30</li>
					<li class="t_list_ul">中 餐<span class="t_gap"></span>10：45-12：20</li>
					<li class="t_list_ul">晚 餐<span class="t_gap"></span>16：30-18：10</li>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">友来餐厅 </li>
				<ul class="pull-left">
					<li class="t_list_ul">全 天<span class="t_gap"></span>06：00-22：00</li>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">回味斋餐厅 </li>
				<ul class="pull-left">
					<li class="t_list_ul">早 餐<span class="t_gap"></span>06：30-08：30</li>
					<li class="t_list_ul">中 餐<span class="t_gap"></span>10：45-12：20</li>
					<li class="t_list_ul">晚 餐<span class="t_gap"></span>16：30-18：10</li>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">真味饺子园</li>
				<ul class="pull-left">
					<li class="t_list_ul">全 天<span class="t_gap"></span>10：00-20：00</li>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">学子餐厅 </li>
				<ul class="pull-left">
					<li class="t_list_ul">中 餐<span class="t_gap"></span>10：30-12：30</li>
					<li class="t_list_ul">晚 餐<span class="t_gap"></span>16：30-19：00</li>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">丁香餐厅  </li>
				<ul class="pull-left">
					<li class="t_list_ul">早 餐<span class="t_gap"></span>07：00-08：30</li>
					<li class="t_list_ul">中 餐<span class="t_gap"></span>10：45-12：20</li>
					<li class="t_list_ul">晚 餐<span class="t_gap"></span>16：30-18：10</li>
				</ul>
			</div>
			<p>
				2. 科学园校区:</br>
			</p>
			<div class="clearfix">
				<li class="t_list pull-left r_name">南苑餐厅  </li>
				<ul class="pull-left">
					<li class="t_list_ul">早 餐<span class="t_gap"></span>07：00-08：30</li>
					<li class="t_list_ul">中 餐<span class="t_gap"></span>10：45-12：20</li>
					<li class="t_list_ul">晚 餐<span class="t_gap"></span>16：30-18：10</li>
				</ul>
			</div>

			<p>
				3. 二校区:</br>
			</p>
			<div class="clearfix">
				<li class="t_list pull-left r_name">真味饺子园</li>
				<ul class="pull-left">
					<li class="t_list_ul">全 天<span class="t_gap"></span>09：00-21：00</li>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">清泽餐厅   </li>
				<ul class="pull-left">
					<li class="t_list_ul">早 餐<span class="t_gap"></span>06：30-09：00</li>
					<li class="t_list_ul">中 餐<span class="t_gap"></span>10：45-12：20</li>
					<li class="t_list_ul">晚 餐<span class="t_gap"></span>16：30-18：10</li>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">锦绣餐厅    </li>
				<ul class="pull-left">
					<li class="t_list_ul">早 餐<span class="t_gap"></span>06：30-09：00</li>
					<li class="t_list_ul">中 餐<span class="t_gap"></span>10：45-12：20</li>
					<li class="t_list_ul">晚 餐<span class="t_gap"></span>16：30-18：10<li/>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">清真餐厅    </li>
				<ul class="pull-left">
					<li class="t_list_ul">早 餐<span class="t_gap"></span>06：30-09：00</li>
					<li class="t_list_ul">中 餐<span class="t_gap"></span>10：45-12：20</li>
					<li class="t_list_ul">晚 餐<span class="t_gap"></span>16：30-18：10</li>
				</ul>
			</div>
			<div class="clearfix">
				<li class="t_list pull-left r_name">天香餐厅    </li>
				<ul class="pull-left">
					<li class="t_list_ul">早 餐<span class="t_gap"></span>06：30-08：15</li>
					<li class="t_list_ul">中 餐<span class="t_gap"></span>10：45-12：20</li>
					<li class="t_list_ul">晚 餐<span class="t_gap"></span>16：30-18：10</li>
				</ul>
			</div>
		</div>
	</div>
</div>

$:render.widgets.footer()
