$def with(page_name, page_title)

$:render.widgets.header(page_name, page_title)

<div class="content">
	<div class="col-md-12">
		<div class="col-md-12 page-content"> 
			<h3 id="rehandler-card">如何补办饭卡?</h3>
			<br>
			<strong>1. 金穗校园卡补办事宜:</strong>
			<ul class="list-narrow first">
				<li>补办地点：农业银行(哈工大一校区农业银行工大分理处) 电话：86402592</li>
				<li>补卡证件：身份证原件</li>
				<li>补卡费用：30元（10元手续费、20元工本费）</li>
			</ul>
			<strong>2. 校园卡补办事宜:</strong>
			<ul class="list-narrow first">
				<li>补办地点：饮食中心餐卡服务处
					<ul class="list-unstyled">
						<li>一校区：哈工大饮食中心餐卡服务处（学苑楼一楼）     电话：86402233</li>
						<li>二校区：哈工大饮食中心餐卡服务处（天香餐厅一楼）   电话：86283713</li>
					</ul>
				</li>
				<li>补卡证件：身份证或学生证（原件、复印件）</li>
				<li>补卡费用：15元工本费</li>
			</ul>
			<strong>详细服务咨询及监督电话：86414365</strong>
			<br><br>
			<!--  -->
			<h3 id="open-time">各餐厅开关餐时间</h3>
			<strong>1. 一校区:</strong>
			<ul class="list-narrow clearfix">
				<li class="pull-left">学苑餐厅 </li>
				<ul class="pull-left list-unstyled">
					<li>早 餐  06：30-08：30</li>
					<li>午 餐  10：45-12：20</li>
					<li>晚 餐  16：30-18：10</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">美食林餐厅 </li>
				<ul class="pull=left list-unstyled">
					<li>全 天  10：30-19：30</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">阳光餐厅 </li>
				<ul class="pull-left list-unstyled">
					<li>中 餐  10：00-12：50</li>
					<li>晚 餐  16：30-18：10</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">学士餐厅 </li>
				<ul class="pull-left list-unstyled">
					<li>早 餐  06：30-08：30</li>
					<li>中 餐  10：45-12：20</li>
					<li>晚 餐  16：30-18：10</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">百味佳餐厅 </li>
				<ul class="pull-left list-unstyled">
					<li>早 餐  06：30-08：30</li>
					<li>中 餐  10：45-12：20</li>
					<li>晚 餐  16：30-18：10</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">友来餐厅 </li>
				<ul class="pull-left list-unstyled">
					<li>全 天  06：00-22：00</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">回味斋餐厅 </li>
				<ul class="pull-left list-unstyled">
					<li>早 餐  06：30-08：30</li>
					<li>中 餐  10：45-12：20</li>
					<li>晚 餐  16：30-18：10</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">真味饺子园</li>
				<ul class="pull-left list-unstyled">
					<li>全 天  10：00-20：00</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">学子餐厅 </li>
				<ul class="pull-left list-unstyled">
					<li>中 餐  10：30-12：30</li>
					<li>晚 餐  16：30-19：00</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">丁香餐厅  </li>
				<ul class="pull-left list-unstyled">
					<li>早 餐  07：00-08：30</li>
					<li>中 餐  10：45-12：20</li>
					<li>晚 餐  16：30-18：10</li>
				</ul>
			</ul>

			<strong>2. 科学园校区:</strong>
			<ul class="list-narrow clearfix">
				<li class="pull-left">南苑餐厅  </li>
				<ul class="pull-left list-unstyled">
					<li>早 餐  07：00-08：30</li>
					<li>中 餐  10：45-12：20</li>
					<li>晚 餐  16：30-18：10</li>
				</ul>
			</ul>

			<strong>3. 二校区:</strong>
			<ul class="list-narrow clearfix">
				<li class="pull-left">真味饺子园</li>
				<ul class="pull-left list-unstyled">
					<li>全 天  09：00-21：00</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">清泽餐厅   </li>
				<ul class="pull-left list-unstyled">
					<li>早 餐  06：30-09：00</li>
					<li>中 餐  10：45-12：20</li>
					<li>晚 餐  16：30-18：10</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">锦绣餐厅    </li>
				<ul class="pull-left list-unstyled">
					<li>早 餐  06：30-09：00</li>
					<li>中 餐  10：45-12：20</li>
					<li>晚 餐  16：30-18：10</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">清真餐厅    </li>
				<ul class="pull-left list-unstyled">
					<li>早 餐  06：30-09：00</li>
					<li>中 餐  10：45-12：20</li>
					<li>晚 餐  16：30-18：10</li>
				</ul>
			</ul>
			<ul class="list-narrow clearfix">
				<li class="pull-left">天香餐厅    </li>
				<ul class="pull-left list-unstyled">
					<li>早 餐  06：30-08：15</li>
					<li>中 餐  10：45-12：20</li>
					<li>晚 餐  16：30-18：10</li>
				</ul>
			</ul>
		</div>
	</div>
</div>

$:render.widgets.footer()
