<!DOCTYPE html>
<html lang="zh-CN">
  {% include 'widgets/header.html' with context %}
  <body>
    <!--[if lt IE 9]>
    {% include 'widgets/browser_upgrade.html' without context %}
    <![endif]-->

    {% include 'widgets/nav.html' with context %}

    {# content 块，有默认内容 #}
    {% block content %}
    <article class="container article">
      <div class="row">
        {% block section%}
        {% endblock %}
      </div>
    </article>
    {# 尾部信息 #}
    {% include 'widgets/footer.html' with context%}
    {% endblock content %}

  </body>

</html>
