/*修改container默认宽度， 使布局‘变瘦’*/
@media (min-width:1200px){
    .container{
  width: 970px;
    }
}



/* 网站整体布局 */



html,
body {
	height: 100%;
	/*background: #22132d;*/
}

#topLine {
	border-top: 7px solid #5c307d;
}


footer {

}


/**/
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}