<section class="footerExtra">
    <div class="container">
        <ul class="link clearfix">
            <li class="commlink">
                <h2>常用链接</h2>
                <ul class="clearfix">
                    <li><a href="http://www.hit.edu.cn" target="_blank">哈工大首页 <i class="fa fa-angle-right fa-fw"></i></a></li>
                    <li><a href="http://today.hit.edu.cn" target="_blank">今日哈工大 <i class="fa fa-angle-right fa-fw"></i></a></li>
                    <li><a href="http://jwc.hit.edu.cn" target="_blank">教务处 <i class="fa fa-angle-right fa-fw"></i></a></li>
                    <li><a href="http://www.lib.hit.edu.cn" target="_blank">图书馆 <i class="fa fa-angle-right fa-fw"></i></a></li>
                    <li><a href="http://hqjt.hit.edu.cn" target="_blank">后勤集团 <i class="fa fa-angle-right fa-fw"></i></a></li>
                    <li><a href="/" target="_blank">饮食中心 <i class="fa fa-angle-right fa-fw"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>
