$def with(page)

<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>$page.title</title>
	<meta name="author" content="$site.author.name -- $site.author.email">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="chorcut icon" href="$asset_path/favicon.ico">

	<link href="$asset_path/css/bootstrap.min.css" rel="stylesheet">
    <link href="$asset_path/css/font-awesome.min.css" rel="stylesheet">
	<link href="$asset_path/css/style.css?12" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--[if lt IE 9]>
    <div class="alert alert-danger">
    	<a class="close" data-dismiss="alert" href="#" aria-hidden="true">x</a>
      <div style="text-align:center;">
        为了获得更好的浏览体验，建议您升级IE浏览器或安装<a style="color:blue;" href="http://www.google.cn/intl/zh-CN/chrome/browser/"><strong>Google Chrome</strong></a>、<a style="color:blue;" href="http://firefox.com.cn/"><strong>Firefox</strong></a>等现代浏览器，否则网站某些功能可能无法正常使用.
      </div>
    </div>
    <![endif]-->
	<header class="header">
		<div id="topLine"></div>
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">$site.brand</a>
				</div>
				<!-- Collect the nav links -->
				<div class="collapse navbar-collapse" id="bs-navbar-collapse">
					<ul class="nav navbar-nav">
					</ul>
					<ul class="nav navbar-nav navbar-right">
						$:render.widgets.pages_list(page.name)
					</ul>
				</div>

			</div>
		</nav>
	</header>

	<article class="article container">
		<div class="row">
