{% macro is_active(name) -%}
	{% if name == page.name -%}
		active
	{%- endif %}
{%- endmacro %}

<header class="header">
	<div id="topLine"></div>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">{{ site.brand }}</a>
			</div>
			<!-- Collect the nav links -->
			<div class="collapse navbar-collapse" id="main-navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="{{ is_active('home') }}"><a href="/">首页</a></li>
					<li class="{{ is_active('about') }}"><a href="/about">中心简介</a></li>
					<li class="{{ is_active('canteen') }}"><a href="/canteen">餐厅特色</a></li>
					<li class="{{ is_active('generalhelp') }}"><a href="/help">常见问题</a></li>
					<li class="{{ is_active('order') }}"><a href="/order">生日订餐</a></li>
					<li class="{{ is_active('contactus') }}"><a href="/contact">联系我们</a></li>
					<li class="{{ is_active('feedback') }}"><a href="/feedback">意见反馈</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

