<!DOCTYPE html>
<html lang="zh-cn">
  {% include 'admin/header.html' with context %}
  <body>
    <!--[if lt IE 9]>
    {% include 'widgets/browser_upgrade.html' without context %}
    <![endif]-->
    {% include 'admin/nav.html' with context %}

    {% block content %}
    <article class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
      {% block section %}
      {% endblock section %}
    </article>
    {% include 'admin/footer.html' with context %}
    {% endblock content %}
	</body>
</html>
