<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author.name }} -- {{ site.author.email }}">
  <link rel="chorcut icon" href="{{ asset_path }}/favicon.ico">
  <link href="{{ asset_path }}/css/bootstrap.min.css?v=3.3.4" rel="stylesheet">
  <link href="{{ asset_path }}/css/font-awesome.min.css" rel="stylesheet">
 <link href="{{ asset_path }}/css/admin.css?v=0.0.2" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
