$def with(page_name, page_title, session)

$def if_active(name="index"):
	$if name == page_name:
		active

<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>$page_title</title>
	<meta name="author" content="$site.author.name -- $site.author.email">
	<link rel="chorcut icon" href="/static/favicon.ico">

	<link href="$asset_path/css/bootstrap.min.css" rel="stylesheet">
    <link href="$asset_path/css/font-awesome.min.css" rel="stylesheet">
	<link href="$asset_path/css/admin.css" rel="stylesheet">
</head>

<body>
	<header class="header">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/admin"><span>$admin.title</span> $admin.tagline</a>
					<ul class="user-menu">
						<li class="dropdown pull-right">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user fa-fw"></span>房 文同<span class="caret"></span></a>
							<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span>session.username<span class="caret"></span></a> -->
							<ul class="dropdown-menu" role="menu">
								<li><a href="/admin/profile"><span class="fa fa-user fa-fw"></span> 资料</a></li>
								<li><a href="/admin/settings"><span class="fa fa-cog fa-fw"></span> 设置</a></li>
								<li><a href="/admin/logout"><span class="fa fa-sign-out fa-fw"></span> 退出登录</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar collapse">
			<form role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="搜索">
				</div>
			</form>

			<ul class="nav menu">
				<li class="$if_active('dashboard')"><a href="/admin/dashboard"><span class="fa fa-dashboard fa-fw"></span> 仪表盘</a></li>
				<li class="$if_active('orderings')"><a href="/admin/orderings"><span class="fa fa-line-chart fa-fw"></span> 订单管理</a></li>
				<li class="$if_active('meals')"><a href="/admin/meals"><span class="fa fa-list-alt fa-fw"></span> 套餐管理</a></li>
				<li class="$if_active('feedback')"><a href="/admin/feedback"><span class="fa fa-comment-o fa-fw"></span> 反馈管理</a></li>
				<li class="$if_active('users')"><a href="/admin/users"><span class="fa fa-group fa-fw"></span> 用户管理</a></li>
				<!-- <li class="$if_active('')"><a href=""><span class="fa fa-list fa-fw"></span>Dropdown</a></li> -->
				<li class="parent">
					<a href="#">
						<span class="fa fa-fw fa-wrench"></span> 工具<span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-s fa-plus fa-fw"></em></span>
					</a>
					<ul class="children collapse" id="sub-item-1">
						<li>
							<a href="#" class="">
							<span class="fa fa-fw fa-gavel"></span>
							随机抽奖
							</a>
						</li>
						<li>
							<a href="#" class="">
								<span class="fa fa-fw fa-plus"></span>
								添加订单
							</a>
						</li>
						<li>
							<a href="#" class="">
								<span class="fa fa-fw fa-search"></span>
								查询订单
							</a>
						</li>
					</ul>
				</li>
				<li role="presentation" class="divider"></li>
				<!-- <li><a href="/login"><span class="fa fa-home fa-fw"></span> Home</a></li> -->
			</ul>
		</div>
	</header>

	<article class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href=""><span class="fa fa-home"></span></a></li>
				<li class="active">$page_title</li>
				<li class="active">$page_name</li>
			</ol>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">$page_name</h1>
			</div>
		</div>

		<div class="row">
		</div>
