{% extends 'admin/admin.html'%}

{% block section %}
<div class="row">
	<ol class="breadcrumb">
		<li><a href="/admin"><span class="fa fa-home"></span></a></li>
		<li class="active">Orderings</li>
	</ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>未完成订单</h2>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab"> 今日订单</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab">三日内订单</a></li>
                    <li class=""><a href="#tab3" data-toggle="tab">七日内订单</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab1">
                        <div class="fixed-table-container">
                            <div class="fixed-table-header">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">
                                <table data-toggle="table" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">领取日期</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner">餐厅</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">餐品</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">学号</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">姓名</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="no-records-found">
                                            <td colspan="5">No matching records found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="fixed-table-container">
                            <div class="fixed-table-header">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">
                                <table data-toggle="table" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">领取日期</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner">餐厅</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">餐品</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">学号</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">姓名</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="no-records-found">
                                            <td colspan="5">No matching records found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                        <div class="fixed-table-container">
                            <div class="fixed-table-header">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">
                                <table data-toggle="table" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">领取日期</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner">餐厅</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">餐品</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">学号</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">姓名</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="no-records-found">
                                            <td colspan="5">No matching records found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.panel-->
    </div>

    <div class="col-lg-12">
        <h2>历史订单</h2>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#history1" data-toggle="tab"> 昨日订单</a></li>
                    <li class=""><a href="#history2" data-toggle="tab"> 一周内</a></li>
                    <li class=""><a href="#history3" data-toggle="tab"> 一个月</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="history1">
                        <div class="fixed-table-container">
                            <div class="fixed-table-header">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">
                                <table data-toggle="table" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">领取日期</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner">餐厅</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">餐品</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">学号</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">姓名</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="no-records-found">
                                            <td colspan="5">No matching records found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="history2">
                        <div class="fixed-table-container">
                            <div class="fixed-table-header">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">
                                <table data-toggle="table" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">领取日期</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner">餐厅</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">餐品</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">学号</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">姓名</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="no-records-found">
                                            <td colspan="5">No matching records found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="history3">
                        <div class="fixed-table-container">
                            <div class="fixed-table-header">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">
                                <table data-toggle="table" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">领取日期</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner">餐厅</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">餐品</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">学号</div>
                                            </th>
                                            <th style="text-align: center;">
                                                <div class="th-inner ">姓名</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="no-records-found">
                                            <td colspan="5">No matching records found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.panel-->
    </div>
</div>
{% endblock section %}

