{% extends 'admin/admin.html' %}

{% block section %}
<div class="row">
	<ol class="breadcrumb">
		<li><a href="/admin"><span class="fa fa-home"></span></a></li>
		<li class="active">User Profile</li>
	</ol>
</div>

<div class="row">
	<div class="col-lg-12">
        <h1 class="page-header">资料</h1>
	</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form" method="post">
            <div class="form-group">
                <label for="username" class="col-lg-offset-2 col-sm-offset-1 col-sm-2 control-label">用户名</label>
                <div class="col-lg-4 col-sm-6">
                  <input id="username" class="form-control" type="text" name="username" placeholer="" value="{{ session.username }}" disabled>
                </div>
                <div class="col-sm-3 col-lg-4">
                    <p id="username-alert" class="text-danger">
                     </p>
                </div>
            </div>
            <div class="form-group">
                <label for="nickname" class="col-lg-offset-2 col-sm-offset-1 col-sm-2 control-label">昵称</label>
                <div class="col-lg-4 col-sm-6">
                  <input id="nickname" class="form-control" type="text" name="nickname" placeholer="" value="{{ session.nickname }}" required>
                </div>
                <div class="col-sm-3 col-lg-4">
                    <p id="nickname-alert" class="text-danger" >
                        </p>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-lg-offset-2 col-sm-offset-1 col-sm-2 control-label">邮箱 </label>
                <div class="col-lg-4 col-sm-6">
                    <input id="email" class="form-control" type="email" name="email" placeholer="" required>
                </div>
                <div class="col-sm-3 col-lg-4">
                    <p id="email-alert" class="text-danger">
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button id="setting-btn" class="btn btn-lg btn-primary btn-block" >更新</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock section %}

{% block content %}
{{ super() }}
<script>
$(function() {
    /*获取邮箱*/
    $.post('profile?req=email', {"username" : $('#username').val()},
    	function(data){
    		if(data.err) {
    			console.log(data.err);
    		}
    		if(data.email) {
    			$('#email').attr("value", data.email);
    		}

    	}, "json");


    $('#setting-btn').bind('click', submit_data);
    function submit_data() {
        var username = $('#username').val();
        var nickname = $('#nickname').val();
        var email = $('#email').val();

        $.post('profile?req=submit', {"nickname" : nickname, "email" : email},
            function(data) {
                if (data.success) {
                    alert(data.success);
                    location.reload();
                }
                if (data.err) {
                    alert(data.err);
                }
            }, "json");
        return false;
    }
})
</script>
{% endblock content %}

