{% extends 'admin/admin.html'%}

{% block section %}
<div class="row">
	<ol class="breadcrumb">
		<li><a href="/admin"><span class="fa fa-home"></span></a></li>
		<li class="active">Users</li>
	</ol>
</div>

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">用户管理</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="fixed-table-container">
			<div class="fixed-table-header">
				<table></table>
			</div>
			<div class="fixed-table-body">
				<table data-toggle="table" class="table table-hover table-center">
				    <thead>
				    	<tr>
				    		<th>
				    			<div class="th-inner ">用户名</div>
				    		</th>
				    		<th>
				    			<div class="th-inner">权限</div>
				    		</th>
				    		<th>
				    			<div class="th-inner ">管理</div>
				    		</th>
				    	</tr>
				    </thead>
					<tbody>
                        {% for person in admins %}
                        <tr class="">
                            <td>{{ person.username }}</td>
                            <td>{{ person.role }}</td>
                            {% if person.deletable %}
                            <td data-userid="{{ person.id }}" class="management-group">
                                <a class="btn">修改密码</a>
                                <a class="btn">删除</a>
                            </td>
                            {% else %}
                            <td><i>无权限</i></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% if not admins %}
						<tr>
							<td colspan="3">没有找到其他用户</td>
						</tr>
                        {% endif %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="add-user" style="padding-top:30px;">
			<div class="col-sm-4 col-sm-offset-4">
				<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
				添加新用户
				</button>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="myModalLabel">添加用户</h4>
			      </div>
			      <div class="modal-body">


					<form class="form-horizontal" role="form" method="post">
					    <div class="form-group">
					        <label for="username" class="col-sm-offset-2 col-sm-2 control-label">用户名</label>
					        <div class="col-sm-4 ">
					            <input id="username" class="form-control" type="text" name="username" placeholer="用户名" autofocus required>
					        </div>
					        <div class="col-sm-4">
					            <p id="username-alert" class="text-danger">
					             </p>
					        </div>
					    </div>
					    <div class="form-group">
					        <label for="newp" class="col-sm-offset-2 col-sm-2 control-label">密码</label>
					        <div class="col-sm-4">
					            <input id="newp" class="form-control" type="password" name="newp" placeholer="请输入密码" required>
					        </div>
					        <div class="col-sm-4">
					            <p id="newp1-alert" class="text-danger" >
					                </p>
					        </div>
					    </div>
					    <div class="form-group">
					        <label for="newp2" class="col-sm-offset-2 col-sm-2 control-label">确认密码</label>
					        <div class="col-sm-4">
					            <input id="newp2" class="form-control" type="password" name="newp2" placeholer="请确认密码" required>
					        </div>
					        <div class="col-sm-4">
					            <p id="newp2-alert" class="text-danger">
					            </p>
					        </div>
					    </div>
					</form>

			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			        <button type="button" id="setting-btn" class="btn btn-primary">添加用户</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock section %}


{% block content %}
{{ super() }}
<script>
$(function() {
    /* 判断旧密码是否正确*/
    $('#username').change(check_exist);
    function check_exist() {
        var username = $('#username').val();
        $.post('users?req=check', {"username" : username},
            function(data) {
                if(data.is_valid == '1') {
                    $('#username-alert').attr("class","text-success");
                    $('#username-alert').html('<i class="fa fa-fw fa-check"></i> 合法的用户名');
                }
                else {
                    $('#username-alert').attr("class", "text-danger");
                    $('#username-alert').html('<i class="fa fa-fw fa-close"></i> 此用户名已被占用')
                }
                if(data.err) {
                    alert(data.err);
                }

            }, "json");
    }

    /*校验两次密码输入是否匹配密码是否正确*/
    $('#newp').bind("keyup", check_same);
    $('#newp2').bind("keyup", check_same);
    function check_same() {
        var newp = $('#newp').val();
        var newp2 = $('#newp2').val();
        if(newp == '' || newp2 == '') {
            return false;
        }

        if(newp == newp2) {
            $('#newp2-alert').attr("class","text-success");
            $('#newp2-alert').html('<i class="fa fa-fw fa-check"></i> 校验通过');
        }
        else {
            $('#newp2-alert').attr("class", "text-danger");
            $('#newp2-alert').html('<i class="fa fa-fw fa-close"></i> 密码输入不一致')
        }
    }

    $('#setting-btn').bind('click', submit_data);
    function submit_data() {
        var username = $('#username').val();
        var newp = $('#newp').val();
        var newp2 = $('#newp2').val();
        if(username == '') {
            //
            alert("请输入用户名.");
            return false;
        }
        if(newp == '' || newp2 == '') {
            //
            alert("请输入密码.");
            return false;
        }
        if(newp != newp2) {
            //
            alert("密码输入不一致!");
            return false;
        }

        $.post('users?req=submit', {"username" : username, "newp" : newp, "role" : '3'},
            function(data) {
                if (data.success) {
                    alert(data.success);
                    location.reload();
                }
                if (data.err) {
                    alert(data.err);
                }
            }, "json");
        return false;
    }
    /*修改密码*/
    $('.management-group>a:even').bind('click', function(event) {
        // 弹出模态框
        alert("hi");
    });
    /*删除用户*/
    $('.management-group>a:odd').bind('click', function(event) {
        if (confirm("确定删除该用户?")) {
            $.post('?req=delete',
                   {
                       "id": $(event.target).parent().attr('data-userid')
                   },
                   function (res) {
                       if (res.err) {
                           alert(res.err);
                       } else if (res.success) {
                           $(event.target).parent().parent().slideUp('slow');
                       }
                   }, 'json');
        }
        return false;
    });
})
</script>
{% endblock content %}

