<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>$site.title</title>
	<meta name="author" content="$site.author.name -- $site.author.email">
	<meta name="viewport" content="width=device-width,initial-sale=1.0">
	<link rel="chorcut icon" href="/static/favicon.ico">
	
	<link href="$asset_path/css/bootstrap.min.css" rel="stylesheet">
	<link href="$asset_path/css/font-awesome.min.css" rel="stylesheet">
	<link href="$asset_path/css/style.css" rel="stylesheet">
</head>
<body>
	<div id="wrap">
