{% extends 'pages/layout.html' %}

{% block section %}
<div class="content">
	<div class="col-md-8 col-md-offset-2">
		<h3 class="text-center text-primary">添加订单</h3>
		<form class="form-horizontal" role="form" action="" method="post">
			<div class="form-group">
				<label for="student-id" class="col-sm-2 control-label">* 学号</label>
				<div class="col-sm-10">
                    <input type="text" class="form-control" id="student-id" name="sid" placeholder="etc. 1110100101" value="{{session.sid}}" autofocus required>
				</div>
			</div>
			<div class="form-group">
				<label for="student-name" class="col-sm-2 control-label">* 姓名</label>
				<div class="col-sm-10">
                    <input type="text" class="form-control" id="student-name" name="name" placeholder="姓名" value="{{session.name}}"  required>
				</div>
			</div>
			<div class="form-group">
				<label for="phone" class="col-sm-2 control-label">* 手机号码</label>
				<div class="col-sm-10">
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="etc. 18056050000" value="{{session.phone}}" required>
				</div>
			</div>
			<div class="form-group">
				<label for="sex" class="col-sm-2 control-label">* 性别</label>
				<div class="col-sm-10">
					<select class="form-control" id="sex" name="sex">
						<option value="boy" selected>帅哥</option>
						<option value="girl">美女</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="birthday" class="col-sm-2 control-label">* 领餐日期</label>
				<div class="col-sm-10">
                    <input type="text" size="10" class="form-control" id="birthday" name="birthday" value="{{site.date.today}}" data-date-format="yyyy-mm-dd" required>
				</div>
			</div>

			<div class="form-group">
				<label for="location" class="col-sm-2 control-label">* 选择校区</label>
				<div class="col-sm-10">
					<select class="form-control" id="location" name="location">
						<option value="" >选择校区</option>
						<option value="1">一校区</option>
						<option value="2">二校区</option>
						<option value="3">土木楼</option>
						<option value="4">科学园</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="canteen" class="col-sm-2 control-label">* 领餐地点</label>
				<div class="col-sm-10">
					<select class="form-control" id="canteen" name="canteen">
						<option value="">请先选择校区</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="package" class="col-sm-2 control-label">* 生日餐</label>
				<div class="col-sm-10">
					<select class="form-control" id="package" name="package">
						<option value="">请先选择领餐地点</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="message" class="col-sm-2 control-label">生日祝福语</label>
				<div class="col-sm-10">
					<textarea class="form-control" rows="5" id="message" name="message" placeholder="写下您的生日祝福"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3">
					<button id="order-btn" class="btn btn-lg btn-primary btn-block" data-loading-text="正在提交...">提交订单</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock section %}


{% block content %}
{{ super() }}
<link rel="stylesheet" href="{{ asset_path }}/css/bootstrap-datepicker.min.css">
<script src="{{ asset_path }}/js/bootstrap-datepicker.min.js"></script>
<script src="{{ asset_path }}/js/bootstrap-datepicker.zh-CN.min.js" charset="utf-8"></script>
<script>
$(function() {
    $("#birthday").datepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN'
    });

	/*根据地点选择餐厅*/
	$('#location').change(get_canteen);
	function get_canteen() {
		var locationId = $('#location').find(':selected').val();
		$.post('add?req=canteen', {"location":locationId},
			function(data) {
				var options = "<option value=''>请选择</option>";
				for(var i = data.length-1; i >= 0; i--) {
					options += "<option value=" + data[i].cid + ">" + data[i].name + "</option>";
				}
				if(locationId == '') {
					options = "<option value=''>请先选择校区</option>"
				}
				$('#canteen').html(options);

				option = "<option value=''>请先选择领餐地点</option>"
				$('#package').html(option);

			});
	}

	/**
	 *  根据餐厅选择套餐
	 */
	$('#canteen').change(get_package);
	function get_package() {
		var canteen = $('#canteen').find(':selected').val();
		$.post('add?req=package', {"canteen":canteen},
			function(data) {
				var options = "<option value=''>请选择</option>";
				for(var i =  data.length-1; i >= 0; i--) {
                    options += "<option value=" + data[i].id + ">" + data[i].name + "</option>";
				}
				if(canteen == '') {
					options = "<option value=''>请先选择领餐地点</option>"
				}
				$('#package').html(options);
			});
	}
	/*表单验证*/
	$('#order-btn').bind('click', checkValid);

	function checkValid() {
		var studentId = $('#student-id').val();
		var studentName = $('#student-name').val();
		var birthday = $('#birthday').val();
		var phone = $('#phone').val();
		var sex = $('#sex').val();
		var locationId = $('#location').find(':selected').val();
		var canteen = $('#canteen').find(':selected').val();
		var packageId = $('#package').find(':selected').val();
		var message = $('#message').val();

		if(studentId == '') {
			alert("请填写学号");
			return false;
		}
		if(studentName == '') {
			alert("请填写姓名");
			return false;
		}
		if(birthday== '') {
			alert("请填写生日");
			return false;
		}
		if(phone == '') {
			alert("请填写手机号");
			return false;
		}

		if (sex == '') {
			alert('请选择性别！');
			return false;
		}
		if (locationId == '') {
			alert('请选择校区！');
			return false;
		}
		if(canteen == '') {
			alert('请选择领餐地点!');
			return false;
		}
		if(packageId == '') {
			alert('请选择生日餐!');
			return false;
		}

		if (!/^\d{2}\d+$$/g.test(studentId)) {
			if ("sSbB".indexOf(studentId.split('')[2]) === -1) {
				alert("对不起，您不在我们的订餐人群内。");
				return false;
			}
		}

		var phone = $('#phone').val().trim();
		var phone_validate = phone.match(/(^(([0\+]\d{2,3}-)?(0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$)|(^0{0,1}1[3|4|5|6|7|8|9][0-9]{9}$)/);
		if(phone_validate==null) {
			alert("请输入正确的手机号码！");
			return false;
		}

        var $btn = $(this).button('loading');
		$.post('add?req=submit',
			{ "studentId" : studentId,
				"studentName": studentName,
				"birthday": birthday,
				"phone": phone,
				"sex" : sex,
				"location" : locationId,
				"canteen"  : canteen,
				"package"  : packageId,
				"message"  : message
			},
			function(data) {
	            if (data.successinfo) {
                $btn.button('reset');
	                alert(data.successinfo);
	                location.replace("/order/info");
	            } else if (data.errinfo) {
	                alert(data.errinfo);
	            }
			}, "json");
		return false;
	};

});
</script>
{% endblock content %}
