$def with(page, session)

$:render.widgets.header(page)


<div class="content">
	<div class="page-img">
		<img src="$image_url/order/register_header.jpg">
	</div>
	<div class="col-md-12">
		<div class="col-md-12 page-content">
			<!-- 友情提示模块 -->
			<h3 class="">友情提示</h3>
			<div class=>
				<p class="">1.	免费生日餐仅限哈工大统招全日制在校生。</p>
				<p class="">2.	本订餐平台只允许提前一周并且至少提前24小时预订免费生日餐。</p>
				<p class="">3.	免费生日餐仅限中午11:00-12:30点供应。</p>
				<p class="">4.	如果您是首次登陆，请您输入基本信息时注意【免费生日餐实行实名校内认证】，请填写真实的个人信息。</p>
				<p class="">5.	为保证餐品品质，我们只在部分餐厅制作生日餐，请您就近选择领取地点，领取时请提供您的订餐返回码。</p>
				<p class="">6.	免费生日餐一年只能提交一次，如操作失误，请联系我们：86418706，或添加个人微信号：YMDTXWR为您解决。</p>
				<p class="">7.	如果您是维族、回族同学，请于【订餐注册】中【我的生日祝福】提示框中添加“提供清真餐品”说明。</p>
			</div>
			<br>

	        $if not session.logged or session.role != "student":
	            <p class="h5 text-warning"> * 系统检测到您尚未登陆</p>
	            <a href="/order/signin"><button class="btn btn-lg btn-primary btn-block">点击登陆</button></a>
	        $else:
	            <p class="h5 text-success"> * 系统检测到您已经登陆</p>
	            <a href="/order/add"><button class="btn btn-lg btn-primary btn-block">马上订餐</button></a>
		</div>
	</div>
</div>


$:render.widgets.footer()
