$def with(page)

$:render.widgets.header(page)

<div class="content">
	<div class="col-md-12">
		<div class="col-md-12 page-content">
		<h3 class="text-primary text-center">订餐帮助</h3>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">我该怎么注册订餐?</h3>
				</div>
				<div class="panel-body">
					<li class="">点击菜单栏的订餐注册;
					</li>
					<li class="">根据提示，输入相关的信息（系统会提醒您是否输入正确);</li>
					<li class="">注册成功后，我们会提醒您进行生日订餐，不过您只能提前一周内订餐;</li>
					<li class="">订餐成功后，您可以在【我的订单】里看到订餐内容。</li>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">要修改订餐信息怎么办？</h3>
				</div>
				<div class="panel-body">
					<li class="">如果您已经注册，生日订餐我们采用实名制，是一个微信号，对应一个学号和生日，如果您误操作想进行修改，请点击菜单栏【我的订餐】，在订餐列表下点击【取消】键。</li>
					<li class="">如果您想帮同学订餐，点击菜单栏的【添加订餐】，然后点击【帮同学订】按键，输入信息即可。</li>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<a href="/order" class="btn btn-lg btn-primary btn-block">返回订餐首页</a>
				</div>
			</div>
		</div>
	</div>
</div>

$:render.widgets.footer(page)
