$def with(page)

$:render.widgets.header(page)

<div class="content">
	<div class="col-md-12">
		<div class="col-md-12 page-content">

			<div class="row">
				<div class="bar bar-header bar-orange">
					<div class="h1 title t_head">操作帮助</div>
				</div>
			</div>
			<div class="content has-header">
				<div class="list card">
					<div class="item item-avatar">
						<img src="images/zhuce.jpg">
						<p class="t_title">
							要订餐注册怎么办？ <br />
						</p>
					</div>

					<div class="item item-body">
						<li class="t_list">点击菜单栏的订餐注册;
						</li>
						<li class="t_list">根据提示，输入相关的信息（系统会提醒您是否输入正确);</li>
						<li class="t_list">注册成功后，我们会提醒您进行生日订餐，不过您只能提前一周订餐;</li>
						<li class="t_list">订餐成功后，您可以在【我的订单】里看到订餐内容。</li>
					</div>
				</div>

				<div class="list card">
					<div class="item item-avatar">
						<img src="images/forget.jpg">
						<p class="t_title">要修改订餐信息怎么办？</p>
					</div>

					<div class="item item-body">
						<li class="t_list">如果您已经注册，生日订餐我们采用实名制，是一个微信号，对应一个学号和生日，如果您误操作想进行修改，请点击菜单栏【我的订餐】，在订餐列表下点击【取消】键。</li>
						<li class="t_list">如果您想帮同学订餐，点击菜单栏的【添加订餐】，然后点击【帮同学订】按键，输入信息即可。</li>
					</div>
				</div>
			</div>

			<a href="/order" class="">返回订餐首页</a>
		</div>
	</div>
</div>


$:render.widgets.footer()
