{% extends 'pages/layout.html' %}

{% block section %}
<div class="content">
	<div class="col-md-8 col-md-offset-2">
		<h3 class="text-center text-primary header">登陆</h3>

		<div class="form-link">
			<p class="pull-right"><a href="/order/signup">尚未注册?</a></p>
		</div>
		<form class="form-horizontal" role="form" action="" method="post">
			<div class="form-group clearfix">
				<label for="student-id" class="col-sm-2 control-label">* 学号</label>
				<div class="col-sm-10">
                    <input type="text" class="form-control" id="student-id" name="sid" placeholder="etc. 1110100101" value="{{session.sid}}" autofocus required>
				</div>
			</div>
			<div class="form-group">
				<label for="student-name" class="col-sm-2 control-label">* 姓名</label>
				<div class="col-sm-10">
                    <input type="text" class="form-control" id="student-name" name="name" placeholder="姓名" value="{{session.name}}" required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3">
					<button id="login-btn" class="btn btn-lg btn-primary btn-block">点击登陆</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock section %}

{% block content %}
{{ super() }}
<script>
$(function() {
	/* $('#student-id').bind('change', check_valid); */
	function check_valid(callback) {
		var student_id = $('#student-id').val();
		return $.post('signin?req=check', {"sid": student_id},
			function(data) {
				if(data.valid == '0') {
					/*学号无效*/
					alert("您输入的学号无效!");
                    callback(false);
				}
				if(data.valid == '1') {
					/*是学生但尚未注册*/
					alert("您尚未注册，请先注册");
					location.href = "signup";
                    callback(false);
				}
				else if(data.valid == '2') {
					/*已注册学号*/
                    callback(true);
				}
			}, "json");
	}
	$('#login-btn').bind('click', submit);
	function submit() {
		sid  = $('#student-id').val();
		name = $('#student-name').val();
        if(sid == '') {
            //学号为空
            alert("请输入学号");
            return false;
        }
        if(name == '') {
            //姓名为空
            alert("请输入姓名");
            return false;
        }
        check_valid(function(isValid) {
            if (isValid) {
                $.post('signin?req=submit', {"sid" : sid,  "name" : name},
                    function(data) {
                        if (data.successinfo) {
                            /*登陆成功*/
                            location.href = "info";
                        }
                        if (data.errinfo) {
                            alert(data.errinfo);
                        }
                        return false;
                    }, "json");
            }
        });
        return false;
	}
});
</script>
{% endblock content%}
